= link_to project_path(@project),method: 'delete', class: 'btn btn-danger' do
  %span.glyphicon.glyphicon-pencil
  Delete
= link_to edit_project_path(@project), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
  Edit
= link_to remove_users_path(@project), class: 'btn btn-danger' do
  %span.glyphicon.glyphicon-pencil
  Remove Members
= link_to add_mentees_path(@project), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
  Add Mentees
= link_to add_mentors_path(@project), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
  Add Mentors
