<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
    <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <%= link_to add_mentees_path(@project), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Add Mentees
    <% end %>
    <%= link_to add_mentors_path(@project), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Add Mentors
    <% end %>
  <h1>Show project</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @project.title %></dd>

  <dt>Description:</dt>
  <dd><%= @project.description %></dd>

  </br>

  <div class='row row-custom'>
    <div class="col-md-1">
      <strong> Mentors:</strong>
    </div>
    <div class="col-md-11">

      <% @project.mentors.each do |mentor| %>
        <%=link_to mentor.name,users_path(user_id: mentor.id)  %>
        <%=link_to 'X',remove_users_path(user_id: mentor.id) %>
        <% end %>

    </div>

    <% @project.mentees.each do |mentee| %>
  <div class='row col-custom'>
    <div class="col-md-1">
      <strong>Mentees:</strong>
    </div>

    <div class="col-md-3">
          <%=link_to mentee.name,users_path(id: mentee.id)  %>
          <%=link_to 'X',remove_users_path(user_id: mentee.id) %>
    </div>
    <div class="col-md-6">
         <%=@user.contributions %>
    </div>
        <% end %> 

