<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
    <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <%= link_to add_mentees_path(@project), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Add Mentees
    <% end %>
    <%= link_to add_mentors_path(@project), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Add Mentors
    <% end %>
  <h1>Show project</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @project.title %></dd>

  <dt>Description:</dt>
  <dd><%= @project.description %></dd>

  
  </br>
  <div class='table-responsive'>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-1">Mentors:</th>
          <th><% @project.mentors.each do |mentor| %>
              <%=link_to mentor.name,users_path(user_id: mentor.id)  %>
              <%=link_to 'X',remove_users_path(user_id: mentor.id) %>
              
          </br>
        <% end %> </th>
        </tr>
          <tr>
          <th>Mentees:</th>
          <th><% @project.mentees.each do |mentee| %>
          <%=link_to mentee.name,users_path(id: mentee.id)  %>
          <%=link_to 'X',remove_users_path(user_id: mentee.id) %>
          </br>
        <% end %> </th>
        <th> <%=@user.contributions %></th>
        </tr>
      </thead>
      </div>
    </div>
  </div>


</dl>
