.page-header
  = link_to new_contribution_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Contribution
  %h1 My Contributions
%h4 Projects
%h4 Details
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Type
        %th Name
        %th Status
        %th Commits
        %th Issues
        %th Pull req
    %tbody
      = content_tag_for(:tr, @contributions) do |contribution|
        %td= contribution.contribution_type
        %td
          = link_to contribution.name, contribution
        %td= contribution.status
        %td= link_to contribution.commits, "https://github.com/zense/#{contribution.name}/commits?author=#{contribution.user.name}&since=#{@time}" , target: :_blank
        %td= link_to contribution.issues, "https://github.com/zense/#{contribution.name}/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aall+author%3A#{contribution.user.name}" , target: :_blank
        %td= link_to contribution.pull_requests, "https://github.com/zense/#{contribution.name}/pulls?author=#{contribution.user.name}&state=all&since=#{@time}" , target: :_blank
        %td= link_to 'Edit', edit_contribution_path(contribution)
        %td= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' }
%h4 Stats
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          Project/Other: #{@user.contributions.count}
        %th
          Commits: #{@user.commits}
        %th
          Issues: #{@user.issues}
        %th
          Pull Req: #{@user.pull_requests}
        %th
          Total: #{@user.total}
