.page-header
  = link_to root_url, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_contribution_path(@contribution), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show contribution
%dl.dl-horizontal
  %dt Username:
  %dd= @user.name
  %dt Type:
  %dd= @contribution.contribution_type
  - if @contribution.contribution_type == "Github Project"
    %dt Name:
    %dd= link_to @contribution.name, "https://github.com/zense/#{@contribution.name}", target: :_blank
    %dt Commits:
    %dd= link_to @contribution.commits, "https://github.com/zense/#{@contribution.name}/commits?author=#{@user.name}&since=#{@time}" , target: :_blank
    %dt Issues:
    %dd= link_to @contribution.issues, "https://github.com/zense/#{@contribution.name}/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aall+author%3A#{@user.name}" , target: :_blank
    %dt Pull_requests:
    %dd= link_to @contribution.pull_requests, "https://github.com/zense/#{@contribution.name}/pulls?author=#{@user.name}&state=all&since=#{@time}" , target: :_blank
    %dt Total:
    %dd
      = @contribution.total
    %dt Status:
    %dd= @contribution.status
  - else
    %dt Name:
    %dd= @contribution.name
    %dt Description:
    %dd= @contribution.description
    %dt Status:
    %dd= @contribution.status
