<div class="page-header">
  <%= link_to root_url, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_contribution_path(@contribution), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show contribution</h1>
</div>

<dl class="dl-horizontal">
  <dt>Username:</dt>
  <dd><%= @user.name %></dd>

  <dt>Type:</dt>
  <dd><%= @contribution.contribution_type %></dd>

  <%if @contribution.contribution_type == "Github Project"%>
    <dt>Name:</dt>
    <dd><%=link_to @contribution.name, "https://github.com/zense/#{@contribution.name}", target: :_blank%></dd>

    <dt>Commits:</dt>
    <dd><%=link_to @contribution.commits, "https://github.com/zense/#{@contribution.name}/commits?author=#{@user.name}&since=#{@time}" , target: :_blank %></dd>

    <dt>Issues:</dt>
    <dd><%=link_to @contribution.issues, "https://github.com/zense/#{@contribution.name}/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aall+author%3A#{@user.name}" , target: :_blank %></dd>

    <dt>Pull_requests:</dt>
    <dd><%=link_to @contribution.pull_requests, "https://github.com/zense/#{@contribution.name}/pulls?author=#{@user.name}&state=all&since=#{@time}" , target: :_blank %></dd>


    <dt>Total:</dt>
    <dd><%=@contribution.total %>

    <dt>Status:</dt>
    <dd><%= @contribution.status %></dd>



<%else%>
    <dt>Name:</dt>
    <dd><%= @contribution.name %></dd>

    <dt>Description:</dt>
    <dd><%= @contribution.description %></dd>

    <dt>Status:</dt>
    <dd><%= @contribution.status %></dd>
  <%end%>


</dl>
